.App {
  text-align: flex;
}
.navcontainer li{
  /* display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap; */
  text-align: center;
  display: inline;
  margin-right: 18%; 
  font-size: 30px;
  flex-wrap: wrap;
  color: blue
}
.navitem {
  padding: 1 em;
}
form {
  text-align: center;
}
.card {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(red, green, blue, alpha);
}

.card button {
  margin-top: 0.5rem;
}
h1 {
  padding: 20px;
  /* text-align: center; */
  font-size: 30px;
  background-color: green;
  background-image: linear-gradient(45deg, #f3ec78,#42af54);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent
}
.card {
  margin: 1rem;
  border: solid black;
  padding: 15px 10px;
  margin-left: 15%;
  float: left;
  flex-wrap: wrap;
  
 }
 .card {
  width: calc(33% - 2rem);
  
}


@media (min-width: 1024px) {
.card {
  width: calc(25% - 2rem);
}
}

@media (min-width: 1200px) {
.card {
  width: calc(20% - 2rem);
}
}
.card button {
  background-color: #3DC476;
  border-radius: 3px;
}
.logo {
  margin-left:auto;
  margin-right: auto;
  display: block;
} 
.logout{
  background-color: #3DC476;
  border-radius: 10px;
  position: absolute;
  right: 100px;

}
.tendercard {
  margin: 1rem;
  border: solid black;
  padding: 15px 10px;
  margin-left: 15%;
  float: left;
  flex-wrap: wrap;
  text-align: center;
  
 }
 .tendercard {
  width: calc(33% - 2rem);
  
}


@media (min-width: 1024px) {
.tendercard {
  width: calc(25% - 2rem);
}
}

@media (min-width: 1200px) {
.tendercard {
  width: calc(20% - 2rem);
}
}